@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Bangers&family=Lalezar&display=swap');
body {
    background-color: black;
}

.App {
  text-align: center;
  
}

.App img {
  height: 35vmin;
  pointer-events: none;
  border-radius: 100px;
  border: solid black 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App img {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
    font-family: 'Bangers', cursive;
    background-color:#ff9002;
   
}

.welcome p {
font-family: 'Aclonica', sans-serif;
}

.welcome .buttons{
    justify-content: flex-start;
    font-family: 'Lalezar', cursive;
}