@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Bangers&family=Lalezar&family=Varela+Round&display=swap');

body {
    background-color: rgb(255, 228, 179);
    
    font-family: 'Varela Round', sans-serif;
    
}

.App {
  text-align: center;
  border: solid #282c34 5px;
  height: 75vmax;
  
}

.App .welcomelogo {
  height: 50vmin;
  pointer-events: none;
  border-radius: 150px;
  border: solid black 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App img {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.welcome {
    font-family: 'Bangers', cursive;
    background-color:#ff9002;
    height: 75vmax;
    border: solid #282c34 5px;

   
}

.usercontainer h1{
  font-family: 'Bangers', cursive;   
}

.usercontainer p{
  font-family: 'Aclonica', sans-serif;
}

.welcome p {
font-family: 'Aclonica', sans-serif;
}

.welcome .buttons{
    justify-content: flex-start;
    font-family: 'Lalezar', cursive;
   
    
}

.signup form input, .login form input {
    border-radius: 25px;
    border: #282c34 solid 1px

}

.signup, .login, .terms {
    justify-content: center;
    border: solid #282c34 5px;
    height: 75vmax;
}

button{
    font-family: 'Lalezar', cursive;
}

.terms p{
    font-size: 11px;
}

.enter, .submit {
    border:#282c34 solid 3px;
    color: #282c34;
    background-color: #ff9002;
    font-family: 'Lalezar', cursive;
}

.login-text{
    text-align: left;
}

#login-btn-group{
  font-family: 'Lalezar', cursive;
}

#dropdown-basic{
  position: absolute;
  left: 2px;
  margin-left: 10px;
  margin-top: 10px;
  color:#282c34;
  background-color: #ff9002;
  border: solid  #282c34 4px;
  width: 65px;
  border-radius: 50px;
    
}
.fa-user-astronaut{
  font-size: 25px;
}

.user-home{
  border: solid #282c34 5px;
  height: 75vmax;
}

.usercontainer{
  height: 50vmax;  
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#user-menu{
  background-color: silver;
  border: solid black 2px;
}

#game-button{
  border:#282c34 solid 3px;
  color: #282c34;
  background-color: #ff9002;
  width: 150px;
  border-radius: 15px;
  font-family: 'Lalezar', cursive;
}

#donation-container{
  height: 75vmax;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donations h1{
  font-family: 'Bangers', cursive;  
}

.donations a{
  font-family: 'Lalezar', cursive;
}

#donation-img img{
  height: 50%;
  width: 30%;
  border: solid #282c34 2px;
  border-radius: 5px;
  
}

#donation-img{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rules h5{
  font-family: 'Bangers', cursive;
}

.user-stats{
  height: 50vmax;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profile-picture .fa-user-astronaut{
  font-size: 100px;
  display: flex;  
}

.user-stats-row-1{
  align-items: center;
}

