@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lalezar&family=Montserrat:wght@500&display=swap');

html{
 
  font-family: 'Montserrat', sans-serif;
  border: #282c34 solid;
  height: 100%;
  width: auto;
  margin: 0;

}

.App{

  display: flex;
  align-content: flex-end;
  justify-content: center;  
  text-align: center;
  height: 100%;
  width: auto;
  margin: 0; 

}

.App button{

  height: 10vmax;  
  font-family: 'Bangers', cursive;
  font-size: 5vmax;  
  border: #282c34 solid;  
  border-radius: 15px;
  background-color: rgb(81, 156, 255);
  color: #282c34;
  text-shadow: 2px 2px white;

}

.App button:hover{
  background-color: rgb(17, 71, 141);
  border-color: rgb(81, 156, 255);
}

.App h1{

  font-family: 'Bangers', cursive;
  font-size: 12vmax;    

}

.App h5{

  font-family: 'Lalezar', cursive;
  font-size: 5vmax;

}

.welcomelogo{

  height: 35vmax;
  width: auto;
  background-color: whitesmoke;
  border: solid #282c34 3px;
  border-radius: 15px 50px;

}

.welcome{

  background-color: #ff9002;  
  
}

.welcome h1, h5{

  text-shadow: 2px 2px white;

}


.welcome .welcome-info{

  margin-top: 25%;

}

.login .loginInfo{

  margin-top: 40%;

}

.welcome, .login, .signup, .user-home, .userStats{
  
  justify-self: center;
  align-self: center;
  height: 100vmax;
  width: 100vmax;

}

.donations{
  height: 100vmax;
  width: 100vmax;
  background-color: #ff9002;
}

.btn-group{

  width: 90.07%;
  height: 7.5vmax;  
  
}

.App .btn-link{

  border-style: none;
  color:#282c34;
  background-color: transparent;
  font-size: 4vmax;
  text-shadow: 2px 2px rgb(81, 156, 255);
}

.App .grey-button{
  background-color: #282c34;
  text-shadow: 3px 3px rgb(81, 156, 255);
  color: whitesmoke;
}

.App input{
  height: 5.5vmax;
  width: 75%;
  border: solid 2px black;
  border-radius: 25%;
  text-align: center;
  font-size: 25px;
}

.App .signup label{
  font-size: 17px;
}

.App .user-home button{
  width: 65%;
  height: auto;
  margin: 1%;
  
}

.App .user-home img{
  width: 65%;
  border: solid #282c34 5px;
  border-radius: 50%;
  margin-top: 10px;
}

.App .user-home .btn-link{

  width: 75%;

}

.App .donations img{

  width: 100%;

}

.App .donations .donation-info{

  border: solid #282c34 5px;
  background-color: beige;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 40px;

}

.App .donations .yes-btn{

  background-color: rgb(100, 173, 241);
  color: #282c34;
  width: 92%;
  margin-bottom: 15px;

}


.App .rules img{

  width: 100%;
  height: 30vmax;
  
}

.App .rules h1{

  margin-top: 15px;
  font-size: 500%;

}

.App .rules .vs-cpu{

  display: flex;
  flex-wrap: wrap;
  justify-content: left;  
  background-color: rgb(73, 164, 248);
  border: solid #282c34 5px;
  font-size: 25px;
  font-weight: 800;

}



.App .rules .vs-cpu h5{

  background-color: #ff9002;
  border: #282c34 solid 5px;
  width: 75%;
  position: relative;
  top: -18px;
  border-radius: 30%;  
  
}

.App .rules .vs-player h5{

  background-color: #ff9002;
  border: #282c34 solid 5px;
  width: 75%;
  position: relative;
  top: -18px;
  left: 25%;
  border-radius: 30%;
  
}

.App .rules .vs-player{

  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  background-color: rgb(73, 164, 248);
  border: #282c34 solid 5px;
  font-size: 25px;
  font-weight: 800;

}



.App .rps-game .player-wins{

  background-color: rgb(128, 255, 55);
  border: #282c34 solid 3px;
  border-radius: 15% 0px 15% 0px;
  width: 100%;
  height: 30%;
  font-size: 40px;
  font-family: 'Bangers', cursive;
  text-shadow: 3px 3px white;
}

.App .rps-game .cpu-wins{

  background-color: rgb(255, 87, 185);
  border: #282c34 solid 3px;
  border-radius: 0px 15% 0px 15%;
  width: 100%;
  height: 30%;
  font-size: 40px;
  font-family: 'Bangers', cursive;
  text-shadow: 3px 3px white;
}

.App .rps-game .cpu-wins .starbar-cpu, .App .rps-game .player-wins .starbar-player{
  position: relative;
  top: -15px;
}

.App .rps-game .player-choices{

  display: flex;
  flex-wrap: wrap;   
  width: 100%;
  height: 20%;

}

.App .rps-game .player-choices button{  
  
  height: 95%;
  width: 105px;
  margin-top: 3px;  
  font-size: 75px;
  text-shadow: 3px 3px white;

  background-color: rgb(100, 173, 241);
  border: black solid 2px;
}

.App .rps-game .confirm-choice{

  display: flex;
  justify-content: space-around;
  
}

.App .rps-game .confirm-choice button{
  margin-top: 5px;
  height: 70px;
  width: 95%;
  font-size: 300%;
  text-shadow: 3px 3px white;
}

.App .rps-game .result-message-display{
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  font-family: 'Lalezar', cursive;
}

.App .rps-game .result-message-display #result{
  width: 50%;
  height: 75px;
  position: relative;
  left: 15px;
  top: 10px;  
  font-size: 40px;
  font-family: 'Lalezar', cursive;
}

.App .playerChoice .choice-image{
  position: relative;
  top: -10px;
  height: 125px;
  width: auto;
}

.App .userStats{
  font-family: 'Bangers', cursive;
}

.App .userStats .return, .App .rps-game .return{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-left: 10px; 
   
}

.App .userStats .user-stats-record{
  display: flex;
  flex-wrap: wrap;  
  height: 20vmax;
  justify-content: space-evenly;
}

.App .userStats .user-rank{
  height: 15vmax;
  font-size: 300%;
  text-shadow: 3px 3px rgb(81, 156, 255);
}

.App .userStats .user-stats-record .win,
.App .userStats .user-stats-record .loss,
.App .userStats .user-stats-record .tie{
  border: solid black 5px;
  width: 33%;
  font-size: 175%;
  border-radius: 20%;
  text-shadow: 2px 2px white;
}


.App .userStats .user-stats-record .win{
  background-color: rgb(128, 255, 55);  
}

.App .userStats .user-stats-record .loss{
  background-color: rgb(255, 87, 185); 
}

.App .userStats .user-stats-record .tie{ 
    background-color: rgb(100, 173, 241);  
}

.App .userStats .achievements{
  display: flex;
  flex-wrap: wrap;
  height: 20vmax;
  justify-content: space-evenly;
  font-size: 250%;
  text-shadow: 2px 2px white;
  border: #282c34 solid 5px;  
  border-radius: 15%;
  margin: 25px;
  background: rgb(81,156,255);
background: linear-gradient(90deg, rgba(81,156,255,1) 0%, rgba(128,255,55,1) 67%, rgba(255,87,185,1) 100%);
}

.App .userStats .achievements #title{
  font-size: 5vmax;
}

.App .userStats .achievements .achievement-items{
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 45px;
}